{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 Chrome Versions",
            "last 2 Firefox Versions",
            "last 2 Safari Versions",
            "last 2 iOS Versions",
            "last 1 Android Version",
            "last 1 ChromeAndroid Version",
            "ie 11"
          ]
        },
        "useBuiltIns": "usage",
        "corejs": "3.6.5"
      }
    ],
    "@bable/preset-react"
  ]
}