/* img {
    width: 100%;
    height: auto;
} */

.updated:not(.published) {
    display: none;
}

.page-numbers.current > span {
    background-color: rgb(176, 176, 176);
    color: white;
}
.page-numbers span:hover {
    background-color: rgb(176, 176, 176);
    color: white;
}

article .post-loop p:first-child {
    margin: 0;
}
article .post-loop button {
    margin: 20px 0;
}

.footer {
    background-color: #dbdbdb;
    padding: 25px 0;
}